<div id="template-setting">
    <div class="content-template-setting">
        <button id="save-setting" class="btn btn-success btn-sm pull-right">保存修改</button>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Header theme</h5>

        <div class="pull-right">
            <div id="setting-header-dark" data-on="info" data-off="default" data-on-label="Dark"
                    data-off-label="Light" class="make-switch switch-small"><input type="checkbox" class="switch"/>
            </div>
        </div>
        <div class="mbm clearfix"></div>
        <h5>Sidebar Colors</h5>
        <ul class="sidebar-color list-unstyled list-inline">
            <li data-style="grey" class="grey-blue active"></li>
            <li data-style="default" class="grey"></li>
            <li data-style="blue" class="blue"></li>
            <li data-style="green" class="green"></li>
            <li data-style="orange" class="orange"></li>
            <li data-style="white" class="white"></li>
        </ul>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Font</h5>

        <div class="pull-right"><select id="font-select" class="mts" style="margin-top: 9px;">
            <option value="source-sans-pro">Source Sans Pro</option>
            <option value="open-sans">Open Sans</option>
            <option value="roboto">Roboto</option>
            <option value="lato">Lato</option>
            <option value="lora">Lora</option>
            <option value="helvetica">Helvetica Neue</option>
        </select></div>
        <div class="mbm clearfix"></div>
        <hr/>
        <h5 class="pull-left">Header Fixed</h5>

        <div class="pull-right">
            <div id="setting-header-fixed" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Sidebar Collapsed</h5>

        <div class="pull-right">
            <div id="setting-sidebar-collapsed" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Sidebar Show/Hide</h5>

        <div class="pull-right">
            <div id="setting-sidebar-hide" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Sidebar Fixed</h5>

        <div class="pull-right">
            <div id="setting-sidebar-fixed" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Toggle Button<i data-hover="tooltip" data-placement="top"
                                                title="Switch it then click toogle button on topbar"
                                                class="fa fa-info-circle mls"></i></h5>

        <div class="pull-right">
            <div id="setting-toggle-status" data-on="success" data-off="default" data-on-label="Hide"
                    data-off-label="Mini" class="make-switch switch-small"><input type="checkbox" class="switch"/>
            </div>
        </div>
        <div class="mbm clearfix"></div>
        <hr/>
        <h5 class="pull-left">Logo mode</h5>

        <div class="pull-right">
            <div id="setting-logo-status" data-on="success" data-off="default" data-on-label="Aside"
                    data-off-label="Top" class="make-switch switch-small"><input type="checkbox" class="switch"/>
            </div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Layout Boxed</h5>

        <div class="pull-right">
            <div id="setting-layout-boxed" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
        <h5 class="pull-left">Menu Horizontal</h5>

        <div class="pull-right">
            <div id="setting-horizontal-menu" data-on="success" data-off="default"
                    class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
        </div>
        <div class="mbm clearfix"></div>
    </div>
</div>