<ul id="dropdown-user" class="dropdown-toggle">
    <li>
        <div class="row">
            <div>
                <div class="col1" >
                    <img class="avatar" ng-src="{{appRoot}}img/avatar/men-27.jpg" alt=""/>
                    <p><a href="#" class="change-avatar">设置头像</a></p>
                </div>
                <div class="col2"  ><span>萧秦 员工</span>
                    <p >xiaoqin@mail.com</p>
                    <div class="divider"></div>
                    <a href="#" class="button" >修改配置</a>
                </div>
            </div>
        </div>
        <div class="buttonbar" >
                <a href="#" class="button" >修改密码</a>
                <a href="#" class="button logout" style="float:right;" >退出登录</a>
        </div>
    </li>
</ul>