<div class="row">
    <div class="col-md-12">
        <div class="tab-block">
            <ul class="nav tabs-left">
                <li class="active">
                    <a href="#tab12_1" data-toggle="tab" aria-expanded="true" class="br-t-n"><i class="glyphicons glyphicons-settings"></i> 基础设置</a>
                </li>
                <li class="">
                    <a href="#tab12_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-cog"></i> 高级设置</a>
                </li>
                <li class="">
                    <a href="#tab12_3" data-toggle="tab" aria-expanded="false"><i class="imoon imoon-settings"></i> 平台参数</a>
                </li>
                <li class="">
                    <a href="#tab12_4" data-toggle="tab" aria-expanded="false"><i class="fa fa-pencil"></i> 时效设置</a>
                </li>
            </ul>
            <div class="tab-content br-t-n br-b-n">
                <div id="tab12_1" class="tab-pane active">
                    <form class="form-horizontal col-xs-8" role="form"> 
                     
                        <div class="form-group">
                            <label for="checkboxExample4" class="col-xs-3 control-label">是否启用多租户</label>
                            <div class="col-xs-8">
                                <div class="checkbox-custom" style="height:28px;">
                                    <input type="checkbox" id="checkboxExample4" ng-checked="form.enablemultitenant">
                                    <label for="checkboxExample4" style="top:-4px;"></label>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkboxExample4" class="col-xs-3 control-label">是否启用推送功能</label>
                            <div class="col-xs-8">
                                <div class="checkbox-custom checkbox-primary" style="height:28px;">
                                    <input type="checkbox" id="checkbox1" >
                                    <label for="checkbox1" style="top:-4px;"></label>
                                 </div>
                                
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="inputPassword" class="col-xs-3 control-label">系统名称</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="inputPassword" placeholder="用户权限管理">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputStandard" class="col-xs-3 control-label">版权信息</label>
                            <div class="col-xs-8">
                                <input type="text" id="inputStandard" class="form-control" placeholder="Copyright©2014 zoewin.com, All Rights Reserved">
                            </div>
                        </div>
                    </form>
                </div>
                
                <div id="tab12_2" class="tab-pane">
                    <p><b>TAB TWO - </b>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
                <div id="tab12_3" class="tab-pane">
                    <p><b>TAB THREE - </b>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
                <div id="tab12_4" class="tab-pane">
                    <p><b>TAB FOUR - </b>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>
        </div>
    </div>
</div>
 


